PORT=8080

POSTGRES_PASSWORD=yourpassword
POSTGRES_USER=yourusername
POSTGRES_DB=yourdatabase

DATABASE_URL=postgres://yourusername:yourpassword@localhost:5432/yourdatabase

REDIS_ADDR=localhost:6379

JWT_SECRET=yourjwtsecretkey

RENDER_API_KEY=your_render_api_key